{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<form action="{{ url_for('voting') }}" method="post">
    <dl>
        {% for (pub, voting, sum) in pubs_items %}
            <dt>{{ pub.title|e }}, &Sigma; = {{ sum }}</dt>
            {% if voting and voting.rating > 0 %}
            <dd><input type="text" name="{{ pub.id }}" value="{{ voting.rating }}"></dd>
            {% else %}
            <dd><input type="text" name="{{ pub.id }}"></dd>
            {% endif %}
        {% endfor %}
    </dl>
    <input type="submit" value="Voting">
</form>

{% endblock %}
