{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<form action="{{ url_for('voting') }}" method="post">
    <dl>
        {% for pub in pubs %}
        <dt>{{ pub.title|e }}</dt>
            {% for voting in day_voting %}
                {% if voting.pub == pub.title %}
                <dd><input type="text" name="{{ pub.id }}" value="{{ voting.rating }}"></dd>
                {% else %}
                <dd><input type="text" name="{{ pub.id }}"></dd>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </dl>
    <input type="submit" value="Voting">
</form>

{% endblock %}
